[*.cs]

# CS1591: O comentário XML ausente não foi encontrado para o tipo ou membro visível publicamente
dotnet_diagnostic.CS1591.severity = silent

# S3925: "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = silent
